openai~=1.95.1
python-dotenv~=1.1.1
streamlit~=1.46.1
faiss-cpu
tqdm
PyPDF2
whisper
pydub
langchain
sentence-transformers
numpy~=2.2.6
scikit-learn~=1.7.0
reportlab
faiss-cpu
fastapi
uvicorn
pydantic
langchain-openai
langchain-community
python-multipart
cors